<mat-form-field>
  <mat-label>Band</mat-label>
  <mat-select [(value)]="selected" (selectionChange)="onSelectionChange($event)">
    <mat-option *ngFor="let band of bands" [value]="band">
      {{band.band}}
    </mat-option>
  </mat-select>
</mat-form-field>
