<mat-form-field>
    <mat-label>Role</mat-label>
    <mat-select [(value)]="selectedRole" (selectionChange)="onSelectionChange($event)">
      <mat-option *ngFor="let role of roles" [value]="role">
        {{role.role}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  