<table mat-table [dataSource]="questions" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef id="id"> ID </th>
    <td mat-cell *matCellDef="let question"> {{question.id}} </td>
  </ng-container>

  <ng-container matColumnDef="question">
    <th mat-header-cell *matHeaderCellDef id="question"> Question </th>
    <td mat-cell *matCellDef="let question">
      <p class="newline-preserve">
	<span class="q">Q:</span> <br> {{question.question}}
	<br>
	<br>
	<span class="q">A:</span> <br> {{question.answer}}
	<br>
	<br>
      </p>
    </td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef id="weight"> Weight </th>
    <td mat-cell *matCellDef="let question"> {{question.questionWeight}} </td>
  </ng-container>

  <ng-container matColumnDef="subarea">
    <th mat-header-cell *matHeaderCellDef id="subarea"> Sub-area </th>
    <td mat-cell *matCellDef="let question"> {{question.subarea}} </td>
  </ng-container>

  <ng-container matColumnDef="band">
    <th mat-header-cell *matHeaderCellDef id="band"> Band </th>
    <td mat-cell *matCellDef="let question"> {{question.band}} </td>
  </ng-container>

  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef> Score </th>
    <td mat-cell *matCellDef="let question">
      <mat-slider max="5" min="0" step="1" thumbLabel="true" (change)="setScore(question.id, $event)">
      </mat-slider>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;">
  </tr>

</table>

