<mat-form-field>
  <mat-label>Position</mat-label>
  <mat-select [(value)]="selected" (selectionChange)="onSelectionChange($event)">
    <mat-option *ngFor="let position of positions" [value]="position">
      {{position.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
