<form (ngSubmit)="onSubmit()" [formGroup]="forms">
    <div class="input">
    <div class="mat-display-2">{{'Edit' | translate }}</div>
    <div>
      <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
        <mat-label>{{'Full Name' | translate }}</mat-label>
        <input matInput formControlName="fullName">
      </mat-form-field>
    </div>
    <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
          <mat-label>{{'Birthdate' | translate }}</mat-label>
          <input type="date" matInput  formControlName="birthDate">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
          <mat-label>{{'E-mail' | translate }}</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
          <mat-label>{{'Graduation' | translate }}</mat-label>
          <input matInput formControlName="graduation">
        </mat-form-field>
      </div>
    
    <button mat-stroked-button color="primary" type="submit" mat-raised-button [disabled]="!forms.valid">{{'Save' | translate }}</button>
    <button mat-stroked-button color="primary" type="button" (click)="delete()"mat-raised-button>{{'Delete' | translate }}</button>
</div>
</form>
  