<header>
    <div class="mat-display-2">{{'Conclusion' | translate }}</div>
</header>

<form [formGroup]="forms">
    <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
            <mat-label>{{'Id' | translate }}</mat-label>
            <input matInput disabled formControlName="id">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
            <mat-label>{{'Interviewer' | translate }}</mat-label>
            <input matInput required formControlName="interviewer">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
            <mat-label>{{'Candidate' | translate }}</mat-label>
            <input matInput required formControlName="candidate">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
            <mat-label>{{'Position' | translate }}</mat-label>
            <input matInput required formControlName="position">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
            <mat-label>{{'Date' | translate }}</mat-label>
            <input matInput required formControlName="date">
        </mat-form-field>
    </div>
    <button mat-stroked-button color="primary" type="submit" mat-raised-button>{{'View interview result' | translate }}</button>
</form>