<mat-form-field>
  <mat-label>Area</mat-label>
  <mat-select [(value)]="selectedArea" (selectionChange)="onSelectionChange($event)">
    <mat-option *ngFor="let area of areas" [value]="area">
      {{area.area}}
    </mat-option>
  </mat-select>
</mat-form-field>
