<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef id="checkBoxColumn">
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container *ngFor="let column of columns" matColumnDef="{{column.columnDef}}">
    <th mat-header-cell *matHeaderCellDef> {{column.headerText}} </th>
    <td mat-cell *matCellDef="let row"> {{row[column.displayProperty]}} </td>
  </ng-container>


  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef id="editColumn"> {{'Edit' | translate}} </th>
    <td mat-cell *matCellDef="let row">
      <a routerLink="{{editUrlBuilder(row)}}">
        <button mat-icon-button color="primary">
          <mat-icon class="mat-18">edit</mat-icon>
        </button>
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="detail">
    <th mat-header-cell *matHeaderCellDef id="detailColumn"> {{'Detail' | translate }} </th>
    <td mat-cell *matCellDef="let row">
      <a routerLink="{{detailUrlBuilder(row)}}">
        <button mat-icon-button color="primary">
          <mat-icon class="mat-18">search</mat-icon>
        </button>
      </a>
    </td>
  </ng-container>


  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef id="deleteColumn"> {{'Delete' | translate }} </th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button color="warn" (click)="deleteFunction(row)">
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </tr>

</table>
