<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [completed]="setup.completed"
	    [editable]="false">
    <ng-template matStepLabel> Setup </ng-template>

    <app-setup #setup>
    </app-setup>
    <div>
      <button mat-raised-button color="primary"
              [disabled]="!setup.completed" (click)="setupFinish()">Next</button>
    </div>
  </mat-step>

  <mat-step [completed]="evaluation.completed"
	    [editable]="isEditable">
    <ng-template matStepLabel> Questions </ng-template>

    <app-evaluation #evaluation>
    </app-evaluation>

    <div>
      <button mat-raised-button color="primary" (click)="evaluationFinish()">Next</button>
    </div>
  </mat-step>

  <mat-step [completed]="observations.completed"
	    [hasError]="false"
	    [editable]="isEditable">
    <ng-template matStepLabel>Observations</ng-template>

    <app-observations #observations>
    </app-observations>

    <div>
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" (click)="observationsFinish()">Next</button>
    </div>
  </mat-step>

  <mat-step [completed]="review.completed"
	    [editable]="false">
    <ng-template matStepLabel>Review</ng-template>
    <app-review #review>
    </app-review>
    <div>
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" (click)="submit()">Finish</button>
    </div>
  </mat-step>

  <mat-step [completed]="false"
	    [editable]="false">
    <ng-template matStepLabel>Done</ng-template>
    <app-conclusion #conclusion>
    </app-conclusion>
  </mat-step>
</mat-horizontal-stepper>
