<h2>Confirm Selection</h2>
<mat-dialog-content class="mat-typography">
  Selecting a template is final and cannot be undone. Are you sure about your selection?
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="close(false)">Cancel</button>
  <button mat-raised-button color="primary" (click)="close(true)">Confirm</button>
</mat-dialog-actions>
