#question-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


mat-form-field {
  width: 200px;
}

form {
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
}
