<header>
  <div class="mat-display-2">{{'Question' | translate }}</div>
</header>

<form [formGroup]="forms">
  <div id="question-detail">
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Question' | translate }}</mat-label>
      <input matInput formControlName="questionName">
    </mat-form-field>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Answer' | translate }}</mat-label>
      <input matInput formControlName="answer">
    </mat-form-field>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Question weight' | translate }}</mat-label>
      <input matInput formControlName="questionWeight">
    </mat-form-field>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Band id' | translate }}</mat-label>
      <input matInput formControlName="bandId">
    </mat-form-field>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Subarea id' | translate }}</mat-label>
      <input matInput formControlName="subareaId">
    </mat-form-field>
    </div>
</form>

