.nav{
    margin-top: 95px;
}

.nav a{
    display: block;
    margin: 10px 0px;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.nav a:hover{
    background-color: #F9AA33;
    transition: 0.2s;
}

.homeBtn{
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    top: 75px; 
    left: 45px;
}

.mat-icon {
    margin-right: 7px;
}
.mat-icon-button {
    margin-left: 7px;
}

mat-sidenav-content {
    flex: 1 1 auto;
}

mat-sidenav-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    z-index: 10;
}

mat-sidenav-content{
    padding: 30px;
}

mat-sidenav{
    background-color: #232F34;
    color: white;
    flex: 0 1 auto;
}

mat-select {
    width: 10px;
}

.view_headline {
    position: absolute;
    top: 4px;
    left: 4px;
}

.language{
    top: 75px;
    left: 135px;
}
.select {
    position: absolute;
    left: 150px;
    top: 72px;
}

.STONKS {
    position: absolute;
    top: 70px;
    left: 15px;
}
