<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened [ngStyle]="{ 'width.em': sidenavWidth }">
    <div>
      <a routerLink="/" class="homeBtn">DASHBOARD</a>
      <mat-icon class="STONKS">show_chart</mat-icon>
      <div id="languageContainer">
        <span [ngClass]="language" class="language"></span>
        <span>
          <mat-select [(value)]="selected" class="select">
            <mat-option value="en" (click)="switchLang('en')"><span [ngClass]="languages.en"></span>Inglês</mat-option>
            <mat-option value="pt" (click)="switchLang('pt')"><span [ngClass]="languages.pt"></span> Português - Brasil
            </mat-option>
          </mat-select>
        </span>
      </div>
      <button (click)="sidenav_toggle()" class="view_headline" mat-icon-button>
        <mat-icon>view_headline</mat-icon>
      </button>
    </div>
    <div class="nav">

      <a routerLink="/users">
        <mat-icon>account_box</mat-icon>
        <span class="navigation-item-label">{{'User' | translate }}</span>
      </a>

      <a routerLink="/positions">
        <mat-icon>dvr</mat-icon>
        <span class="navigation-item-label">{{'Positions' | translate }}</span>
      </a>


      <a routerLink="/interviews">
        <mat-icon>record_voice_over</mat-icon>
        <span class="navigation-item-label">{{'Interviews' | translate }}</span>
      </a>

      <a routerLink="/candidates">
        <mat-icon>supervised_user_circle</mat-icon>
        <span class="navigation-item-label">{{'Candidate' | translate }}</span>
      </a>

      <a routerLink="/questions">
        <mat-icon>help</mat-icon>
        <span class="navigation-item-label">{{'Questions' | translate }}</span>
      </a>

      <a routerLink="/templates">
        <mat-icon>note_add</mat-icon>
        <span class="navigation-item-label">{{'Templates' | translate }}</span>
      </a>


      <a routerLink="/roles">
        <mat-icon>school</mat-icon>
        <span class="navigation-item-label">{{'Roles' | translate }}</span>
      </a>


      <a routerLink="/areas">
        <mat-icon>event_available</mat-icon>
        <span class="navigation-item-label">{{'Areas' | translate }}</span>
      </a>


      <a routerLink="/subareas">
        <mat-icon>event_note</mat-icon>
        <span class="navigation-item-label">{{'Sub-area' | translate }}</span>
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content id="sidenav_content" autosize>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>