<table mat-table [dataSource]="subareas">
  <caption>{{'List of Sub-areas' | translate }}</caption>
  <ng-container matColumnDef="id">
    <th id="id" mat-header-cell *matHeaderCellDef> {{'Id' | translate }} </th>
    <td mat-cell *matCellDef="let subarea"> {{subarea.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th id="name" mat-header-cell *matHeaderCellDef> {{'Name' | translate }} </th>
    <td mat-cell *matCellDef="let subarea"> {{subarea.name}} </td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th id="details" mat-header-cell *matHeaderCellDef> {{'Details' | translate }} </th>
    <td mat-cell *matCellDef="let subarea">
      <a routerLink="./{{subarea.id}}">
        <button mat-icon-button color="primary">
          <mat-icon class="mat-18">search</mat-icon>
        </button>
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th id="delete" mat-header-cell *matHeaderCellDef> {{'Delete' | translate }} </th>
    <td mat-cell *matCellDef="let subarea">
      <button mat-icon-button color="warn" (click)="remove(subarea.id)">
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </td>
  </ng-container>
  
  <ng-container matColumnDef="edit">
    <th id="edit" mat-header-cell *matHeaderCellDef> {{'Edit' | translate }} </th>
    <td mat-cell *matCellDef="let subarea">
      <a routerLink="./{{subarea.id}}/edit">
        <button mat-icon-button color="primary">
          <mat-icon class="mat-18">edit</mat-icon>
        </button>
      </a>
    </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>

</table>