<form (ngSubmit)="onSubmit()" [formGroup]="forms">
    <div class="mat-display-3">{{'Edit' | translate}}</div>
    <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
            <mat-label>{{'Id' | translate}}</mat-label>
            <input matInput disabled formControlName="id">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
            <mat-label>{{'User name' | translate}}</mat-label>
            <input matInput disabled formControlName="userName">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
            <mat-label>{{'First name' | translate}}</mat-label>
            <input matInput disabled formControlName="firstName">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
            <mat-label>{{'Last name' | translate}}</mat-label>
            <input matInput disabled formControlName="lastName">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
            <mat-label>{{'Email' | translate}}</mat-label>
            <input matInput disabled formControlName="email">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
            <mat-label>{{'Birth date' | translate}}</mat-label>
            <input matInput type="date" disabled formControlName="birthDate">
        </mat-form-field>
    </div>
    <div formGroupName="roleName">
        <app-role-select #selector (roleChange) = "selectionChangeHandler($event)"></app-role-select>
    </div>
    <button mat-stroked-button color="primary" type="submit" mat-raised-button [disabled]="!forms.valid">{{'Save' | translate }}</button>
    <button mat-stroked-button color="primary" type="button" (click)="delete()"mat-raised-button>{{'Delete' | translate }}</button>
</form>