<header>
  <div class="mat-display-2">{{'Candidate' | translate }}</div>
</header>

<form [formGroup]="forms">
  <div id="candidate-detail">
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Candidate' | translate }}</mat-label>
      <input matInput formControlName="fullName">
    </mat-form-field>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Email' | translate }}</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Birth Date' | translate }}</mat-label>
      <input matInput formControlName="birthDate">
    </mat-form-field>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Graduation' | translate }}</mat-label>
      <input matInput formControlName="graduation">
    </mat-form-field>
    </div>
</form>

