<mat-form-field>
    <mat-label>Template</mat-label>
    <mat-select [(value)]="selectedTemplate" (selectionChange)="onSelectionChange($event)">
      <mat-option *ngFor="let template of templates" [value]="template">
        {{template.name}}
      </mat-option>
    </mat-select>
</mat-form-field>
  
