<mat-form-field>
  <mat-label>Candidate</mat-label>
  <mat-select [(value)]="selectedCandidate" (selectionChange)="onSelectionChange($event)">
    <mat-option *ngFor="let candidate of candidates" [value]="candidate">
      {{candidate.fullName}}
    </mat-option>
  </mat-select>
</mat-form-field>
