<mat-tab-group mat-align-tabs="start" (selectedTabChange)="tabChangeEventHandler($event)">
  <mat-tab *ngFor="let group of template.groups; let i = index">
    <ng-template mat-tab-label>
    <mat-icon>{{groupIcons[i]}}</mat-icon>
    {{group.area}}
    </ng-template>
    <app-questions-evaluation [questions]="group.questions">
    </app-questions-evaluation>
  </mat-tab>
</mat-tab-group>
