.input {
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 5%;
    padding: 10px;
}

.mat-display-2{
    width: fit-content;
    margin: auto;
    text-align: center;
}

.registerBtn{
    margin: 20px auto;
    width: fit-content;
}

.registerBtn:hover{
    background-color: #F9AA33;
    transition: 0.2s;
    transform: scale(1.05);
    border-radius: 5px;
}


