<header>
  <div class="mat-display-2">{{'Register new position' | translate }}</div>
</header>
<form (ngSubmit)="onSubmit()" [formGroup]="forms">
  <div class="input">
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Position name' | translate }}</mat-label>
      <input matInput required formControlName="name">
    </mat-form-field>
  </div>
  <div class="registerBtn">
    <button mat-stroked-button type="submit" [disabled]="!forms.valid">{{'Submit' | translate }}</button>
  </div>
