<mat-list>
  <mat-list-item>Interview Information</mat-list-item>
  
  <div>
    <ul>
      <li>
	Candidate: {{data.setup.candidate.fullName}}
      </li>
      <li>
	Template: {{data.setup.template.name}}
      </li>
      <li>
	Position: {{data.setup.position.name}}
      </li>
    </ul>
  </div>

  <mat-divider>
  </mat-divider>

  <mat-list-item>Questions</mat-list-item>

  <table mat-table [dataSource]="questions">
    
    <ng-container matColumnDef="question">
      <th mat-header-cell *matHeaderCellDef> Question </th>
      <td mat-cell *matCellDef="let row"> {{row.question}} </td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Score </th>
      <td mat-cell *matCellDef="let row"> {{row.score}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>


  <mat-divider></mat-divider>

  <mat-list-item>Observations</mat-list-item>
  <p>
    {{data.observations}}
  </p>


</mat-list>
