<div>
    <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
      <mat-label>Filter {{filter.name}}</mat-label>
      <mat-select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
        (change)="filterChange(filter,$event)">
        <mat-option value="">-- Select {{filter.name}} --</mat-option>
        <mat-option [value]="item" *ngFor="let item of filter.options">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <button mat-flat-button (click)="resetFilters()">Reset</button>
  </div>