<app-table-filters (filterChange)="onFilterChange($event)"> </app-table-filters>

<table mat-table [dataSource]="questions" class="mat-elevation-z8">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef id="checkBoxColumn">
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef id="idColumn"> ID </th>
    <td mat-cell *matCellDef="let question"> {{question.id}} </td>
  </ng-container>

  <ng-container matColumnDef="questionName">
    <th mat-header-cell *matHeaderCellDef id="questionColumn"> Question </th>
    <td mat-cell *matCellDef="let question"> {{question.questionName}} </td>
  </ng-container>

  <ng-container matColumnDef="questionWeight">
    <th mat-header-cell *matHeaderCellDef id="weightColumn"> Weight </th>
    <td mat-cell *matCellDef="let question"> {{question.questionWeight}} </td>
  </ng-container>

  <ng-container matColumnDef="subarea">
    <th mat-header-cell *matHeaderCellDef id="subareaColumn"> Sub-area </th>
    <td mat-cell *matCellDef="let question"> {{question.subarea}} </td>
  </ng-container>

  <ng-container matColumnDef="band">
    <th mat-header-cell *matHeaderCellDef id="bandColumn"> Band </th>
    <td mat-cell *matCellDef="let question"> {{question.band}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef id="editColumn"> Edit </th>
    <td mat-cell *matCellDef="let question">
      <a routerLink="{{question.id}}/edit">
        <button mat-icon-button color="primary">
          <mat-icon class="mat-18">edit</mat-icon>
        </button>
      </a>
    </td>

  </ng-container>

  <ng-container matColumnDef="detail">
    <th mat-header-cell *matHeaderCellDef id="detailColumn"> {{'Detail' | translate }} </th>
    <td mat-cell *matCellDef="let question">
      <a routerLink="{{question.id}}">
        <button mat-icon-button color="primary">
          <mat-icon class="mat-18">search</mat-icon>
        </button>
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef id="deleteColumn"> {{'Delete' | translate }} </th>
    <td mat-cell *matCellDef="let question">
      <button mat-icon-button color="warn" (click)="remove(question.id)">
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>

</table>
