<form (ngSubmit)="onSubmit()" [formGroup]="forms">
    <div class="mat-display-2">{{'Create new user' | translate }}</div>
    <div class="input">
        <div>
            <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
                <mat-label>{{'User name' | translate }}</mat-label>
                <input matInput required formControlName="userName">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
                <mat-label>{{'First Name' | translate }}</mat-label>
                <input matInput required formControlName="firstName">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
                <mat-label>{{'Last Name' | translate }}</mat-label>
                <input matInput required formControlName="lastName">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
                <mat-label>{{'Birth Date' | translate }}</mat-label>
                <input matInput type="date" required formControlName="birthDate">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
                <mat-label>{{'Email' | translate }}</mat-label>
                <input matInput type="email" required formControlName="email">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
                <mat-label>{{'Role' | translate }}</mat-label>
                <input matInput required formControlName="roleId">
            </mat-form-field>
        </div>
    </div>
    <div class="registerBtn">
      <button mat-stroked-button color="primary" type="submit" [disabled]="!forms.valid">{{'Submit' | translate }}</button>
    </div>
  </form>
  