<header>
    <div class="mat-display-2">Create new template</div>
  </header>

  <form (ngSubmit)="onSubmit()" [formGroup]="forms">
    <div class="input">
      <div class="name">
      <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput required type="text" formControlName="name">
      </mat-form-field>
    </div>
      <div class="arrayForm">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                 Positions
              </mat-panel-title>
              <mat-panel-description>
                Select the positions for this template
              </mat-panel-description>
            </mat-expansion-panel-header>
              <app-position-data-table #positionDataTable></app-position-data-table>
          </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                   Questions
                </mat-panel-title>
                <mat-panel-description>
                  Select the questions for this template
                </mat-panel-description>
              </mat-expansion-panel-header>
                <app-question-data-table #questionDataTable></app-question-data-table>
            </mat-expansion-panel>
            </mat-accordion>
      </div>
    </div>
    <div class="registerBtn">
      <button mat-stroked-button type="submit">Register</button>
    </div>
    
  </form>
