
.input{
    margin-top: 20px;
}

.name{
    text-align: center;
}  

.mat-display-2{
    width: fit-content;
    margin: auto;
    text-align: center;
}

.registerBtn{
    margin: 20px auto;
    width: fit-content;
}

.registerBtn:hover{
    background-color: #F9AA33;
    transition: 0.2s;
    transform: scale(1.05);
}

mat-expansion-panel{
    margin: 10px 10px 10px 10px;
}








