<header>
    <div class="mat-display-2">Create new question</div>
</header>
  <form (ngSubmit)="onSubmit()" [formGroup]="forms">
    <div class="input">
      <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
          <mat-label>Question</mat-label>
          <input matInput required formControlName="questionName">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
          <mat-label>Answer</mat-label>
          <input matInput type="text" formControlName="answer">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
          <mat-label>Question Weight</mat-label>
          <mat-select type="number" formControlName="questionWeight">
            <mat-option value=1>1</mat-option>
            <mat-option value=2>2</mat-option>
            <mat-option value=3>3</mat-option>
            <mat-option value=4>4</mat-option>
            <mat-option value=5>5</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
          <mat-label>Band ID</mat-label>
          <input matInput formControlName="bandId" type="number">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
          <mat-label>Subarea ID</mat-label>
          <input matInput formControlName="subareaId" type="number">
        </mat-form-field>
      </div>
    </div>
        
    <div class="registerBtn">
      <button mat-stroked-button type="submit" mat-raised-button [disabled]="!forms.valid">Submit</button>
    </div>
  </form>