.input {
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 5%;
    padding: 10px;
}

.mat-display-2{
    width: fit-content;
    margin: auto;
    text-align: center;
}

.registerBtn{
    margin: 20px auto;
    width: fit-content;
}

.registerBtn:hover{
    background-color: #F9AA33;
    transition: 0.2s;
    transform: scale(1.05);
}

::ng-deep input.mat-input-element {
    color: #F9AA33;
}
  
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #F9AA33 !important;
}
  
  ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: #F9AA33 !important;
}
