<header>
    <div class="mat-display-2">Create role</div>
</header>
<form (ngSubmit)="onSubmit()" [formGroup]="forms">
    <div class="input">
        <div>
            <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
                <mat-label>Role name</mat-label>
                <input matInput required formControlName="name">
            </mat-form-field>
        </div>
    </div>
<div class="registerBtn">
<button color="primary" type="submit" mat-raised-button [disabled]="!forms.valid">Submit</button>
</div>
</form>