  <div class="mat-simple-snackbar ng-star-inserted">
    <span> {{entity}} {{returnedId}} created!</span>
    <div class="mat-simple-snackbar-action ng-star-inserted">
      <button (click)="onClick()" mat-button="" class="mat-focus-indicator mat-button mat-button-base">
        <span class="mat-button-wrapper">View</span>
        <div matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"> </div>
        <div class="mat-button-focus-overlay"> </div>
      </button>
    </div>
  </div>
