#user-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px
}

mat-form-field {
    width: 200px;
}

form {
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
}
