<header>
  <div class="mat-display-2">{{'User' | translate }}</div>
</header>

<form [formGroup]="forms">
  <div id="user-detail">
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Id' | translate }}</mat-label>
      <input matInput disabled formControlName="id">
    </mat-form-field>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'First name' | translate }}</mat-label>
      <input matInput required formControlName="firstName">
    </mat-form-field>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Last name' | translate }}</mat-label>
      <input matInput disabled formControlName="lastName">
    </mat-form-field>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Birthdate' | translate }}</mat-label>
      <input matInput required formControlName="birthDate">
    </mat-form-field>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'E-mail' | translate }}</mat-label>
      <input matInput required formControlName="email">
    </mat-form-field>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Role name' | translate }}</mat-label>
      <input matInput required formControlName="roleName">
    </mat-form-field>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'User name' | translate }}</mat-label>
      <input matInput required formControlName="userName">
    </mat-form-field>
  </div>
</form>
