<app-band-select (bandChange)="onBandChange($event)"> </app-band-select>
<app-subarea-select (subareaChange)="onSubareaChange($event)"> </app-subarea-select>
<app-area-select (areaChange)="onAreaChange($event)"> </app-area-select>
