<header>
  <div class="mat-display-2">{{'Register new Candidate' | translate }}</div>
</header>
<form (ngSubmit)="onSubmit()" [formGroup]="forms">
  <div class="input">
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Candidate name' | translate }}</mat-label>
      <input matInput required formControlName="fullName">
    </mat-form-field><br/>
     <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Birth Date' | translate }}</mat-label>
      <input matInput type="date" formControlName="birthDate">
    <mat-hint aling="end">{{'Only dates' | translate }}</mat-hint>
    </mat-form-field><br/>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Email' | translate }}</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field><br/>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Graduation' | translate }}</mat-label>
      <input matInput formControlName="graduation">
    </mat-form-field><br/>
  </div>

  <div class="registerBtn">
    <button mat-stroked-button type="submit" mat-raised-button [disabled]="!forms.valid">Submit</button>
  </div>
</form>
