<mat-form-field>
  <mat-label>Sub-area</mat-label>
  <mat-select [(value)]="selectedSubarea" (selectionChange)="onSelectionChange($event)">
    <mat-option *ngFor="let subarea of subareas" [value]="subarea">
      {{subarea.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
