<table mat-table [dataSource]="areas">
  <caption>{{'List of Areas' | translate }}</caption>
  <ng-container matColumnDef="id">
    <th id="id" mat-header-cell *matHeaderCellDef> {{'Id' | translate }} </th>
    <td mat-cell *matCellDef="let area"> {{area.id}} </td>
  </ng-container>

  <ng-container matColumnDef="area">
    <th id="area" mat-header-cell *matHeaderCellDef> {{'Area' | translate }} </th>
    <td mat-cell *matCellDef="let area"> {{area.area}} </td>
  </ng-container>


  <ng-container matColumnDef="delete">
    <th id="delete" mat-header-cell *matHeaderCellDef> {{'Delete' | translate }} </th>
    <td mat-cell *matCellDef="let area">
        <button mat-icon-button color="warn" (click)="remove(area.id)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
    </td>
  </ng-container>
  
  <ng-container matColumnDef="edit">
    <th id="edit" mat-header-cell *matHeaderCellDef> {{'Edit' | translate }} </th>
    <td mat-cell *matCellDef="let area">
      <a routerLink="./{{area.id}}/edit">
        <button mat-icon-button color="primary">
          <mat-icon class="mat-18">edit</mat-icon>
        </button>
      </a>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>