<table mat-table [dataSource]="roles">
    <caption>{{'List of Roles' | translate }}</caption>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef id="id">{{'Id' | translate }}</th>
          <td mat-cell *matCellDef="let role"> {{role.id}} </td>
        </ng-container>
        
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef id="role"> {{'Role' | translate }} </th>
          <td mat-cell *matCellDef="let role"> {{role.role}} </td>
        </ng-container>
              
        <ng-container matColumnDef="details">
          <th id="details" mat-header-cell *matHeaderCellDef> {{'Details' | translate }} </th>
          <td mat-cell *matCellDef="let role">
            <a routerLink="./{{role.id}}">
              <button mat-icon-button color="primary">
                <mat-icon class="mat-18">search</mat-icon>
              </button>
            </a>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="delete">
          <th id="delete" mat-header-cell *matHeaderCellDef> {{'Delete' | translate }} </th>
          <td mat-cell *matCellDef="let role">
            <button mat-icon-button color="warn" (click)="remove(role.id)">
              <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="edit">
          <th id="edit" mat-header-cell *matHeaderCellDef> {{'Edit' | translate }} </th>
          <td mat-cell *matCellDef="let role">
            <a routerLink="./{{role.id}}/edit">
              <button mat-icon-button color="primary">
                <mat-icon class="mat-18">edit</mat-icon>
              </button>
            </a>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
    