<form (ngSubmit)="onSubmit()" [formGroup]="forms">
  <div class="mat-display-3">Create Subarea</div>
  <div>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>Id</mat-label>
      <input matInput required formControlName="id">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput required formControlName="name">
    </mat-form-field>
  </div>

  <button id="confirm" color="primary" type="submit" mat-raised-button [disabled]="!forms.valid">Submit</button>
</form>