<div class="setup-container">
  <form>
    <label> Select a position </label>
    <app-position-select (selectionChange)="changeHandler('position', $event)"
		         [clearField]="false">
    </app-position-select>
  </form>

  <form>
    <label> Select a candidate </label>
    <app-candidate-select (candidateChange)="changeHandler('candidate', $event)"
			[params]="params"
			[clearField]="false">
  </app-candidate-select>
  </form>

  <form>
    <label> Select a template </label>
    <app-template-select (templateChange)="changeHandler('template', $event)"
		       [params]="params"
		       [clearField]="false">
    </app-template-select>
  </form>

</div>
