<header>
  <div class="mat-display-2">{{'Create subarea' | translate }}</div>
</header>
<form (ngSubmit)="onSubmit()" [formGroup]="forms">
  <div class="input">
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Name' | translate }}</mat-label>
      <input matInput required formControlName="name">
    </mat-form-field>
  </div>
  <button mat-stroked-button type="submit" [disabled]="!forms.valid">{{'Submit' | translate }}</button>
</form>
