<table mat-table [dataSource]="bands">
<caption>{{'List of Bands' | translate }}</caption>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef id="id">{{'Id' | translate }}</th>
      <td mat-cell *matCellDef="let band"> {{band.id}} </td>
    </ng-container>
    
    <ng-container matColumnDef="band">
      <th mat-header-cell *matHeaderCellDef id="band"> {{'Band' | translate }} </th>
      <td mat-cell *matCellDef="let band"> {{band.band}} </td>
    </ng-container>
</table>
