<form (ngSubmit)="onSubmit()" [formGroup]="forms">
  <div class="mat-display-3">{{'Subarea' | translate }}</div>
  <div>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Id' | translate }}</mat-label>
      <input matInput disabled formControlName="id">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Subarea name' | translate }}</mat-label>
      <input matInput required formControlName="name">
    </mat-form-field>
  </div>
</form>

