<form (ngSubmit)="onSubmit()" [formGroup]="forms">
  <div class="mat-display-3">{{'Edit' | translate }}</div>
  <div>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Id' | translate }}</mat-label>
      <input matInput disabled formControlName="id">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
      <mat-label>{{'Position name' | translate }}</mat-label>
      <input matInput required formControlName="name">
    </mat-form-field>
  </div>

  <button mat-stroked-button color="primary" type="submit" [disabled]="!forms.valid">{{'Save' | translate }}</button>
  <button mat-stroked-button color="primary" type="button" (click)="delete()">{{'Delete' | translate }}</button>
</form>
